<div class="d-block d-lg-none chat-list-btn">
  <button
    class="button profile-active mb-4 mb-lg-0 d-flex align-items-center gap-2 ms-5"
    (click)="openChatListSidebar()"
  >
    <fa-icon [icon]="['fas', 'sliders']" class="font-20-px" />
    <span>Chat List</span>
  </button>
</div>
<div class="row justify-content-center pt-5">
  <div
    class="col-xxl-3 col-xl-4 col-lg-4 pe-0 m-0 p-0 d-none d-lg-block w-300-px"
  >
    <app-profile-chats-sidebar
      (onNewChat)="onChatPost($event)"
      [isRoomCreated]="isRoomCreated"
      [selectedRoomId]="selectedRoomId"
    ></app-profile-chats-sidebar>
  </div>
  <div
    class="col-xxl-9 col-11 m-auto col-xl-8 col-lg-8 m-lg-0 p-lg-0 mx-md-0 px-md-0 px-sm-3 bg-color"
  >
    <ng-container *ngIf="userChat">
      <app-profile-chats-list
        [userChat]="userChat"
        (newRoomCreated)="onNewChatRoom($event)"
        (selectedChat)="onSelectChat($event)"
      ></app-profile-chats-list>
    </ng-container>
  </div>
</div>
